body{
    background-color: black;
}

.josefin_Slab{
    font-family: 'Josefin Slab', serif;
}

#cartao{
    background-image: url(../img/background.png);
    background-size: cover;
    width: 400px;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
}

#l1{
    list-style-type: none; 
    list-style-image: url(../assets/Insta.png);
    list-style-position: inside;
    font-weight: bold;
}

#l2{
    list-style-type: none; 
    list-style-image: url(../assets/Twitter.png); 
    list-style-position: inside;
    font-weight: bold;
    margin-top: 5px;
}

#l3{
    list-style-type: none; 
    list-style-image: url(../assets/Youtube.png); 
    list-style-position: inside;
    font-weight: bold;
    margin-top: 5px;
}

h1{
    margin-left: 35px;
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 2px 2px 3px black;
}

#list1_dec{
    text-decoration: none;
    color: white; 
    text-shadow: 0px 0px 3px #b700ff, 0 0 6px black;
}
#list2_dec{
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 3px #00d9ff, 0 0 5px black;   
}
#list3_dec{
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 3px red, 0 0 5px black;
}
